.fContainer{
    background-color: var(--bgSecondary);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
    bottom: 0;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ficons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ficons img{
    width: 70%;
    height: 70%;
    margin: 10px;
}