.hsiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--textSecondary);
    padding: 0px 3% ;
    margin: 0px 0px;
    width: 235px;
    height: 260px;
} 
.hsiContainer img{
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.hsiContainer p{
    text-align: center;
}
.s2Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--textSecondary);
    justify-content: space-between;
    margin: 0px 120px;
    padding: 50px 0px;
}