.s2Container{ 
   display: flex; 
   flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--textSecondary);
  justify-content: space-between;
  margin: 0px 120px;
  padding: 50px 0px;
}



@media screen and (max-width: 768px) {
  .s2Container{ 
     display: grid;
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin: 0px;
  }




}