#s1container{
    box-sizing: content-box;
    display: flex ! important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bgSecondary);
    /* background-color: #5EB1BF; */
    
    color: #FFFFFF;
    padding: 0px 3%;
    margin: 0px 120px;
    width: auto;
    position: relative;
    justify-content: center; 
    font-size: 2rem;
}
.s1house{
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 width: 90%;
}

.s1BTNs button {
    margin: 0px 1rem;
}
.s1Title p{
   font-size: 1.4rem;
}
.s1Right{
    display: flex;
    flex-direction: row-reverse;
}
.s1Left{
    width:60% ;
}
@media screen and (max-width: 768px) {

      #s1container{
        margin: 0px 0;
        flex-direction: column;
        align-items: flex-start;
        width:"100%";
      }
      .s1BTNs {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .s1Title p,
      .s1Title h1{
        font-size: 2.5rem;
      }
}
