.rhBody {
  background-color: var(--bgSecondary);
  color: var(--textSecondary);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 120px;
}

.lh_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 28px;
  box-sizing: border-box;
  background-color: var(--textSecondary);
  color: var(--textSecondary);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 0px solid var(--red);
  border-radius: 10px;
  margin: 0px 10px;
}
.rhBody p {
  margin: 0 10px;
  font-size: 1.2rem;
}
.rhContent {
  width: 100%;
}

.rhiconCastomer {
  display: none;
}
@media screen and (max-width: 1031px) {
  .rhBody {
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .rhBody p,
  .lh_search,
  .lilnavBarBTN,
  .rhicon {
    display: none;
  }

  .rhiconS,
  .rhiconCastomer {
    margin: 0 1%;
    display: inline-block;
  }
}
