.rhBody{
    background-color: #f44336;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
