.spContainer {
  background-color: var(--bgSecondary);
  box-sizing: content-box;
  margin: 0px 120px;
  padding: 0.3% 1% 3% 1%;
  color: aliceblue;
}
.spLocation input,
.spSuburb input {
  background-color: var(--textSecondary);
  height: 50px;
  width: 230%;
}
.spLocation {
  margin-right: 15%;
}
.spSuburb {
  margin-left: 13%;
}
.spRentMin input,
.spRentMax input,
.spBedrooms input,
.spPropertyType input {
  background-color: var(--textSecondary);
  height: 45px;
}
.spLocation,
.spSuburb,
.spRentMin,
.spRentMax,
.spBedrooms,
.spPropertyType {
  display: flex;
  flex-direction: column;
}
.spRentMin input,
.spRentMax input,
.spBedrooms input,
.spPropertyType input {
  background-color: var(--gray);
}
.spLocation input,
.spSuburb input,
.spRentMin input,
.spRentMax input,
.spBedrooms input,
.spPropertyType input {
  border-radius: 10px;
  border: none;
}

.spWhiteSearch,
.spGraySearch {
  display: flex;
  flex-direction: row;
}
.spSearchButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0 0 0;
}
.spGraySearch {
  margin: 0 -0.8%;
}
.spSearchButtonTenants{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}