.spListingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2% 120px;
  height: 60px;
  font-size: 1.5rem;
}
.spListingsContainer img {
  height: 50%;
  margin-left: 8;
}
