.tenantsContainer {
  box-sizing: content-box;
  margin: 10px 120px;
  border-radius: 8px;
}

.tenantsContainer__main {
  border-radius: 15px;
}

.tenantsContainer__main div {
  height: 300px;
}

.tenantsContainer__main--text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--textMain);
  margin: 10px 0;
  padding: 1% 6% 0 6%;
}

.tenantsContainer__Graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  border-radius: 8px;
  border: 5px solid var(--textMain) x;
  background-image: url('../srcAssets/houses/tenantsimg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 4% 0;
}

.tenantsContainer__Graph--img {
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--red);
}

@media screen and (max-width: 1190px) {
  .tenantsContainer {
    margin: 0%;
  }

  .tenantsContainer__main--text h1,
  .tenantsContainer__main--text p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textMain);
    margin: 0;
    padding: 1%;
    width: 100%;
    text-align: center;
  }

  .tenantsContainer__main--text h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--textMain);
    margin: 0;
    padding: 1%;
    width: 100%;
  }
}
