.wh_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #294ba8;
  width: 1040px;
  height: 100%;
  position: static;
  width: auto;
  box-sizing: border-box;
}


.wh_navigation {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* margin: 0.5% 120px; */
  background-color: #fff;
  color:var( --textMain);
  margin: 10px 120px;
}

/* .wh_navigation-menu { */
  /* margin-left: auto; */
  /* position: absolute;
  top: 100%; 
  left: 0;
  display: none;
} */

/* .wh_navigation-menu ul {
  display: flex;
  padding: 0;
} */
/* .wh_navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;

} */
/* .wh_navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
} */

.wh_hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 
  background-color 0.2s ease-in-out;
  position: absolute;
  transform: translateY(-178%);
  /* display: none; */
  float: 'left';
  background-color: transparent;
  /* display: none; */
}
.wh_hamburger:hover {
  background-color:var(--bgSecondary);
  box-shadow: #000103;
}
/*  390px  768px */

@media screen and (max-width: 1288px) {
  /* .wh_hamburger {
    display: block;
  } */
  /* .wh_navigation-menu ul {
    display: none;
  } */
  /* .wh_navigation-menu ul {
     /* wh_navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    /* position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column; */
    /* makes menu span full height and width */
    /* width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none; */
  /* }  */
  /* .wh_navigation-menu.expanded ul {
    display: block;
  } */
  .wh_navigation-menu li {
     /* centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .wh_navigation-menu li a {
    color: black;
     /* increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }
  .wh_navigation-menu li:hover {
    background-color: #eee;
  }
  /* .wh_navigation {
    margin: 0px 0px;
    width: 100%;
  } */
}

.linkedText a:-webkit-any-link {
  text-decoration: none !important;
  color: inherit !important;
}