:root{
  --textMain:  #410909;
  --textMainAlpha: rgba(65, 9, 9, 0.5);
  --textSecondary: #ffffff;
  --bgSecondary:  #5EB1BF;
  --gray:  #D9D9D9;
  --red: #E4353C;
}


body {
  box-sizing: border-box;
  width: 1280px;
  height: auto;
  margin: 0;
  padding: 0;
  color:  #410909;
  font-family: "open sans", sans-serif;
}
